<div class="row">

      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input placeholder="Placeholder" id="date" type="text" class="validate">
          <label for="select_date">Select Date</label>
        </div>
      </div>
  </div>

<script>
  $(document).ready(function(){
    $('#date').datepicker({
      "maxDate": "+1w",
      "minDate": "0",
      onSelect: function(){
        $.ajax({
          path:,
          data:,
          success: function(){

          },
          error: function(){

          }
        });
      }
    });
  });
</script>
